table 
{
	font-size: 15px;
	border-collapse: collapse;
}

th{
	background-color: #345;
	color: #fff;
	padding: 3px;
}

tr:nth-child(even)
{
	background-color: #f2f2f2;
}

td input
{
	width: 100%;
	height: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border:none;
    color: #000;
}

.button
{
	width: 100%;
	height: 100%;
    background-color: #f2f2f2;
    border:none;
    color: #000;
    font-size: 15px;
}

.button:hover
{
	background-color: #345;
	color: #fff;
}

div
{
	margin-bottom: 50px;
	margin-top: 50px;
}

div#Formulario
{
	float: left;
	width: 75%;
	padding: 5px;

}

div#Menu
{
	width: 20%;
	float: left;
	padding: 5px;
}

div#RSimples
{
	display: none;
	float: left;
	width: 75%;
	padding: 5px;
}

div#ILiq
{
	display: none;
	float: left;
	width: 75%;
	padding: 5px;
}

div#IEnd
{
	display: none;
	float: left;
	width: 75%;
	padding: 5px;
}

div#Rot
{
	display: none;
	float: left;
	width: 75%;
	padding: 5px;
}

body
{
	text-align: left;
	font-family: sans-serif;
}

ul
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

li
{
	display: block;
	padding: 10px;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

li:hover
{
	background-color: #345;
	color: #fff;
}

footer
{
	background: #345;
	padding: 35px;
	color: #fff;
	clear: both;
}